.entdecken2 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  height: 100vh;
  overflow: hidden;
  font-size: var(--font-size-29xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* Header styling */
.header {
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 100%;
  height: 120px;
  font-family: var(--font-cormorant-garamond);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it’s on top of other content */
}

.dauerausstellung {
  font-size: 2rem;
  font-weight: 700;

}

.mit2000Objekten{
  margin-left: 20px;
  margin-right: 20px;
}

.entdeckenSieEinzigartige{
  margin-left: 20px;
  margin-right: 20px;
}

.verschickenSieEinen{
  margin-left: 20px;
  margin-right: 20px;
}

/* Button styling */
.loginButton {
  border-radius: var(--br-23xl);
  background-color: transparent;
  color: white;
  padding: var(--padding-base) var(--padding-3xl);
  font-size: 4vw;
  margin-top: 1rem;
  text-align: center;
  font-family: var(--font-quicksand);
  border: 2px solid white;
  /* Optional additional centering */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

/* Responsive styling */
@media (min-width: 360px) {
  .dauerausstellung {
    font-size: 2rem;
  }
  .mit2000Objekten {
    font-size: 0.9rem;
  }
  .entdeckenSieEinzigartige,
  .verschickenSieEinen {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .dauerausstellung {
    font-size: 2rem;
  }
  .mit2000Objekten {
    font-size: 1rem;
  }
  .entdeckenSieEinzigartige,
  .verschickenSieEinen {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .dauerausstellung {
    font-size: 2.5rem;
  }
  .mit2000Objekten {
    font-size: 1.1rem;
  }
  .entdeckenSieEinzigartige,
  .verschickenSieEinen {
    font-size: 1.1rem;
  }
}
