.entdecken7 {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

/* Header styling */
.header {
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 100%;
  height: 120px;
  font-family: var(--font-cormorant-garamond);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it’s on top of other content */
}

.dauerausstellung {
  font-size: 2rem;
  font-weight: 700;
}


.buttons {
  position: absolute; /* Absolute positioning within the container */
  bottom: 60px; /* Adjust vertical positioning as needed */
  right: 5px; /* Align buttons to the right side of the container */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}

.buttons2 {
  position: absolute; /* Absolute positioning within the container */
  bottom: 60px; /* Adjust vertical positioning as needed */
  left: 5px; /* Align buttons to the right side of the container */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}



.closeButtonIcon, .cameraButtonIcon {
  width: 40px;
  height: 40px;
}




/* Chat container styling */
.chat {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Align to the left */
  background-color: var(--color-gray-200);
  border-radius: var(--br-lgi);
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: var(--font-size-lg);
  font-family: var(--font-quicksand);
}

.chatInput {
  flex: 1;
  height: 100%;
  border: none;
  border-radius: var(--br-lgi);
  padding: 0 10px;
  font-size: var(--font-size-lg);
  font-family: var(--font-quicksand);
  background-color: transparent;
  color: black;
  ;
}

.conversation {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 20px;
  bottom: 120px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-lg);
  font-family: var(--font-quicksand);
}

.chatLineyou, .chatLinemuseful {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chatLineyou {
  align-items: flex-end;
}

.chatLinemuseful {
  align-items: flex-start;
}

.itsyou, .itsmuseful {
  display: flex;
  align-items: center;
}

.youIcon, .aiIcon {
  margin: 0 10px;
}

.du, .museful {
  font-weight: 500;
}

.answer, .zeigMir {
  border-radius: var(--br-lgi);
  background-color: var(--color-gray-200);
  padding: 10px;
  word-wrap: break-word;
}
