.entdecken5 {
  width: 100%;
  height: 100%; /* Full viewport height */
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}

.scrollableContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 1rem;
  align-items: center;
}

.card {
  border-radius: var(--br-18xl);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}


.text{
  margin-bottom: 1rem;
}

.textChild {
  border-radius: var(--br-lg);
  background-color: var(--color-gainsboro-100);
}

.pacManJapPakkuman {
  line-height: 150%;
}

.pacManJapPakkuman1 {
  padding: 20px;
}

.header {
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 100%;
  height: 120px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-cormorant-garamond);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.pacMan {
  font-size: 2rem;
}


.closeButtonIcon{
  width: 40px;
  height: 40px;
  margin-left: 70px;

}
.cameraButtonIcon {
  width: 40px;
  height: 40px;
  margin-right: 70px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Optional: Adjust spacing between buttons */
}

.loginButton {
  border-radius: var(--br-23xl); /* Custom border radius */
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
  padding: var(--padding-base) var(--padding-3xl);
  font-size: 4vw; /* Responsive font size */
  margin-top: 1rem; /* Spacing above button */
  text-align: center;
  font-family: var(--font-quicksand); /* Match font with other text */
  border: 2px solid white; /* White border */
  margin-bottom: 1rem;
}


.rosettaPic {
  max-width: 100%;
  max-height: 100%;
 /* Ensure the image covers the space */
}
