.entdecken2 {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

/* Webcam container styling */
.webcamContainer {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center webcam horizontally */
  align-items: center; /* Center webcam vertically */
}

/* Webcam styling for portrait mode */
.portraitWebcam {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the container while maintaining aspect ratio */
  max-width: 100%;
  max-height: 100%;
}

/* Button container styling */
.buttonContainer1, .buttonContainer2 {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
}

.buttonContainer1 {
  left: 20px; /* Align to the left */
}

.buttonContainer2 {
  right: 20px; /* Align to the right */
}

/* Button styling for close and frame buttons */
.closeButtonIcon, .frameButtonIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Header styling */
.header {
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 100%;
  height: 120px;
  font-family: var(--font-cormorant-garamond);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it’s on top of other content */
}

.dauerausstellung {
  font-size: 2rem;
  font-weight: 700;
}

/* Responsive styling */
@media (min-width: 360px) {
  .dauerausstellung {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .dauerausstellung {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .dauerausstellung {
    font-size: 2.5rem;
  }
}
