.videoIcon {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 350px;
  height: 708px;
  object-fit: contain;
}
.header {
  position: absolute;
  top: 0;
  left: -1px;
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 432px;
  height: 120px;
}
.closeButtonIcon,
.pacMan {
  position: absolute;
  top: 45px;
  left: 33px;
}
.closeButtonIcon {
  top: 850px;
  left: 350px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.entdecken9 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #4252dd, #6834aa);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--dark-ink);
  font-family: var(--font-cormorant-garamond);
}
