.dauerausstellung,
.header {
  position: absolute;
  top: 48px;
  left: 41px;
}
.scrollableContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 690px; /* Adjust height to fit within the container */
  margin-top: 20px; /* Optional: Add padding if necessary */
}
.header {
  top: 0;
  left: -2px;
  background: linear-gradient(172.25deg, #fd1eda, #6834aa);
  width: 432px;
  height: 120px;
  font-family: var(--font-cormorant-garamond);
}
.entdeckenSieEinzigartige,
.mit2000Objekten,
.verschickenSieEinen {
  margin: 0;
}
.mit2000ObjektenContainer {
  position: absolute;
  top: 127px;
  left: 49px;
  font-size: var(--font-size-xl);
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 325px;
  height: 646px;
}
.arrowBackFill0Wght400Grad0Icon {
  position: absolute;
  top: 852px;
  left: 21px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  cursor: pointer;
}
.start {
  position: relative;
  font-weight: 500;
}
.loginButton {
  position: absolute;
  top: 860px;
  left: 292px;
  border-radius: 25px;
  background: linear-gradient(2.35deg, #4c4ad0, #7a3ac7 50.61%, #a62bbe);
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-3xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.entdecken2 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #4252dd, #6834aa);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}
