.onboarding6 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
  padding-top: 100px;
}

.willkommen {
  font-size: var(--font-size-13xl);
  font-weight: 500;
  margin-bottom: 20px;
}

.wieVielInteresse {
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-bottom: 40px;
}

.card {
  border-radius: var(--br-18xl);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}


.cardImage {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.card-body {
  padding: 30px 20px; /* Add more padding inside the card */
}

.card-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 20px;
  padding-bottom: 15px; /* Add padding below the title */
}

.card-text {
  font-size: 1.2rem;
  padding-bottom: 30px;;

}
.scrollableContainer {
  max-height: 500px; /* Set the height of the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0 15px; /* Optional: Adjust padding */
  margin-top: 20px; /* Optional: Space from top elements */
}
