.onboarding4 {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  overflow: hidden;
  color: white; /* Ensure text is white */
  font-family: var(--font-quicksand);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.willkommen,
.welcheSpracheSprichst {
  font-weight: 500;
  color: white;
  font-family: var(--font-quicksand);
  margin-bottom: 1rem; /* Spacing between text elements */
}

.willkommen {
  font-size: 4vw; /* Responsive font size */
}

.welcheSpracheSprichst {
  font-size: 2.5vw; /* Responsive font size */
}

.languageButton {
  border-radius: var(--br-23xl); /* Custom border radius */
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
  padding: var(--padding-base) var(--padding-3xl);
  font-size: 4vw; /* Responsive font size */
  margin-top: 1rem; /* Spacing above button */
  text-align: center;
  font-family: var(--font-quicksand); /* Match font with other text */
  border: 2px solid white; /* White border */

}

.languageButton:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Darker overlay on hover */
}

.languageButton:focus {
  outline: none; /* Remove focus outline */
}

@media (min-width: 360px) {
  .willkommen {
    font-size: 2rem;
  }
  .welcheSpracheSprichst {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .willkommen {
    font-size: 3rem;
  }
  .welcheSpracheSprichst {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .willkommen {
    font-size: 4rem;
  }
  .welcheSpracheSprichst {
    font-size: 2.5rem;
  }
}
