.onboarding7Child {
  position: absolute;
  top: 190px;
  left: 0;
  width: 430px;
  height: 756px;
}
.wieVielInteresse,
.willkommen {
  position: absolute;
  top: 84px;
  left: 45px;
  font-weight: 500;
  display: inline-block;
  width: 350px;
  height: 46px;
}
.wieVielInteresse {
  top: 150px;
  left: 55px;
  font-size: var(--font-size-xl);
  width: 324px;
  height: 40px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: calc(50% - 155px);
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  width: 310px;
  height: 460px;
  opacity: 0.2;
}
.duBistSchnell,
.wanderer {
  position: absolute;
  display: none;
}
.wanderer {
  top: 40px;
  left: calc(50% - 86px);
  line-height: 150%;
  font-weight: 500;
  width: 172px;
  height: 35.4px;
}
.duBistSchnell {
  top: 250px;
  left: 30px;
  font-size: var(--font-size-xl);
  white-space: pre-wrap;
  width: 250px;
  height: 95px;
}
.footprintFill0Wght400Grad0Icon {
  position: absolute;
  top: 121px;
  left: 111px;
  width: 99px;
  height: 99px;
  overflow: hidden;
  display: none;
}
.rectangleParent {
  position: absolute;
  top: 280px;
  left: calc(50% - 480px);
  width: 310px;
  height: 460px;
}
.psychologyAltFill0Wght400GIcon {
  position: absolute;
  top: 400px;
  left: 170px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.statusChild {
  position: absolute;
  left: 0;
  height: 8px;
}
.statusChild,
.statusInner,
.statusItem {
  top: 0;
  background-color: var(--dark-ink);
  width: 100px;
}
.statusItem {
  position: absolute;
  left: 110px;
  height: 8px;
}
.statusInner {
  left: 220px;
}
.rectangleDiv,
.status,
.statusInner {
  position: absolute;
  height: 8px;
}
.rectangleDiv {
  top: 0;
  left: 330px;
  background-color: var(--dark-ink);
  width: 100px;
  opacity: 0.3;
}
.status {
  top: 50px;
  left: 0;
  width: 430px;
}
.onboarding7 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #4252dd, #6834aa);
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}
