.onboarding8 {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: radial-gradient(50% 50% at 50% 50%, #4252dd, #6834aa);
  overflow: hidden;
  color: white; /* Ensure text is white */
  font-family: var(--font-quicksand);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-spacing {
  margin-bottom: 3rem; /* Adjust as needed */
}



.soZusammenfassend {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem; /* Increased spacing from other elements */
}

.languageTextWrapper, .duBistContainer, .groupInnerWrapper {
  display: flex;
  align-items: center;
}

.languageTextWrapper {
  margin-left: 1rem; /* Space between icon and text */
}

.duSprichst, .deutsch, .duBist, .muser {
  font-weight: 500;
}

.language24dpFill0Wght400GrIcon {
  width: 52px;
  height: 52px;
}

.groupChild, .groupInner {
  width: 80px;
  height: 80px;
}

.duBist1 {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.duSprichst{
  margin-right: 0.5rem;
}

.muserWrapper {
  display: flex;
  align-items: center;
}

.loginButton {
  border-radius: var(--br-23xl); /* Custom border radius */
  background-color: transparent; /* Transparent background */
  color: white; /* White text */
  padding: var(--padding-base) var(--padding-3xl);
  font-size: 4vw; /* Responsive font size */
  margin-top: 1rem; /* Spacing above button */
  text-align: center;
  font-family: var(--font-quicksand); /* Match font with other text */
  border: 2px solid white; /* White border */
}

.jetztStarten {
  font-weight: 500;
}

@media (min-width: 360px) {
  .soZusammenfassend {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .soZusammenfassend {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .soZusammenfassend {
    font-size: 2.5rem;
  }
}
