.onboarding5Child {
  position: absolute;
  top: 190px;
  left: 0;
  width: 430px;
  height: 756px;
}
.wieVielInteresse,
.willkommen {
  position: absolute;
  top: 84px;
  left: 45px;
  font-weight: 500;
  display: inline-block;
  width: 350px;
  height: 46px;
}
.wieVielInteresse {
  top: 150px;
  left: 55px;
  font-size: var(--font-size-xl);
  width: 324px;
  height: 40px;
}
.rectangleDiv,
.statusChild,
.statusInner,
.statusItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-ink);
  width: 100px;
  height: 8px;
}
.rectangleDiv,
.statusInner,
.statusItem {
  left: 110px;
}
.rectangleDiv,
.statusInner {
  left: 220px;
}
.rectangleDiv {
  left: 330px;
  opacity: 0.3;
}
.status {
  top: 50px;
  width: 430px;
}
.status,
.statusChild1 {
  position: absolute;
  left: 0;
  height: 8px;
}
.statusChild1,
.statusChild2,
.statusChild3 {
  top: 0;
  background-color: var(--dark-ink);
  width: 100px;
}
.statusChild2 {
  position: absolute;
  left: 110px;
  height: 8px;
}
.statusChild3 {
  left: 220px;
}
.status1,
.statusChild3,
.statusChild4 {
  position: absolute;
  height: 8px;
}
.statusChild4 {
  top: 0;
  left: 330px;
  background-color: var(--dark-ink);
  width: 100px;
  opacity: 0.3;
}
.status1 {
  top: 50px;
  left: 0;
  width: 430px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: calc(50% - 155px);
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  width: 310px;
  height: 460px;
  opacity: 0.2;
}
.duBistAngetrieben,
.muser {
  position: absolute;
  display: none;
}
.muser {
  top: 40px;
  left: calc(50% - 86px);
  line-height: 150%;
  font-weight: 500;
  width: 172px;
  height: 35.4px;
}
.duBistAngetrieben {
  top: 250px;
  left: 30px;
  font-size: var(--font-size-xl);
  width: 250px;
  height: 95px;
}
.rectangleParent {
  position: absolute;
  top: 281px;
  left: calc(50% + 171px);
  width: 310px;
  height: 460px;
}
.onboarding5 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #4252dd, #6834aa);
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}
