.groupChild,
.onboarding3Child {
  position: absolute;
  top: 190px;
  left: 0;
  width: 430px;
  height: 756px;
}
.groupChild {
  top: 0;
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  width: 370px;
  height: 101px;
  opacity: 0.2;
}
.generationAlpha,
.youAreBorn {
  position: absolute;
  top: 14px;
  left: 22px;
  line-height: 150%;
  font-weight: 500;
}
.youAreBorn {
  top: 56px;
  font-size: 15px;
}
.arrowDropDown24dpFill0WghIcon {
  position: absolute;
  top: 9px;
  left: 320px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.groupItem,
.rectangleParent {
  position: absolute;
  width: 370px;
}
.rectangleParent {
  top: 224px;
  left: 30px;
  height: 101px;
  cursor: pointer;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  height: 60px;
  opacity: 0.2;
}

.rectanglegenerationy {
  position: absolute;
  top: 415px;
  left: 32px;
  width: 370px;
  height: 60px;
}



.groupgenerationy {
  top: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  height: 60px;
  opacity: 0.2;
}
.generationZ {
  position: absolute;
  top: 15px;
  left: 24px;
  line-height: 150%;
  font-weight: 500;
}
.arrowDropDown24dpFill0WghIcon1 {
  position: absolute;
  top: 10px;
  left: 320px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.groupInner,
.rectangleGroup {
  position: absolute;
  top: 340px;
  left: 32px;
  width: 370px;
  height: 60px;
}
.groupInner {
  top: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  opacity: 0.2;
}
.generationX {
  position: absolute;
  top: 16px;
  left: 24px;
  line-height: 150%;
  font-weight: 500;
}
.arrowDropDown24dpFill0WghIcon2 {
  position: absolute;
  top: 11px;
  left: 322px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.rectangleContainer,
.rectangleDiv {
  position: absolute;
  top: 490px;
  left: 32px;
  width: 370px;
  height: 60px;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  opacity: 0.2;
}
.babyboomer {
  position: absolute;
  top: 16px;
  left: 24px;
  line-height: 150%;
  font-weight: 500;
}
.arrowDropDown24dpFill0WghIcon3 {
  position: absolute;
  top: 11px;
  left: 324px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.groupDiv {
  position: absolute;
  top: 565px;
  left: 30px;
  width: 370px;
  height: 60px;
}
.welcheGenerationBist,
.willkommen {
  position: absolute;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.willkommen {
  top: 84px;
  left: 45px;
  font-size: var(--font-size-13xl);
  width: 350px;
  height: 46px;
}
.welcheGenerationBist {
  top: 150px;
  left: 55px;
  width: 324px;
  height: 40px;
}
.statusChild,
.statusInner,
.statusItem {
  top: 0;
  background-color: var(--dark-ink);
  width: 100px;
}
.statusChild {
  position: absolute;
  left: 0;
  height: 8px;
}
.statusInner,
.statusItem {
  opacity: 0.3;
}
.statusItem {
  position: absolute;
  left: 110px;
  height: 8px;
}
.statusInner {
  left: 220px;
}
.status,
.statusChild1,
.statusInner {
  position: absolute;
  height: 8px;
}
.statusChild1 {
  top: 0;
  left: 330px;
  background-color: var(--dark-ink);
  width: 100px;
  opacity: 0.3;
}
.status {
  top: 50px;
  left: 0;
  width: 430px;
}
.onboarding3 {
  width: 100%;
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #4252dd, #6834aa);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}
