.groupChild {
  position: absolute;
  top: 0;
  left: calc(50% - 155px);
  border-radius: var(--br-18xl);
  background-color: var(--dark-ink);
  width: 310px;
  height: 460px;
  opacity: 0.2;
}
.duBistSchnell,
.wanderer {
  position: absolute;
  display: inline-block;
}
.wanderer {
  top: 40px;
  left: calc(50% - 86px);
  line-height: 150%;
  font-weight: 500;
  width: 172px;
  height: 35.4px;
}
.duBistSchnell {
  top: 250px;
  left: 30px;
  font-size: var(--font-size-xl);
  white-space: pre-wrap;
  width: 250px;
  height: 95px;
}
.footprintFill0Wght400Grad0Icon {
  position: absolute;
  top: 121px;
  left: 111px;
  width: 99px;
  height: 99px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 280px;
  left: calc(50% - 155px);
  width: 310px;
  height: 460px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--dark-ink);
  font-family: var(--font-quicksand);
}
